body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 45px;
}

#page-container {
  display: none;
}

#filter {
  display: flex; 
}

.form-buscar {
  display: flex;
  justify-content: space-between;
  padding: 5px; /* Reducimos el padding */
  background: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-weight: bold;
  border-radius: 5px; /* Esquinas menos redondeadas */
}

.form-buscar input,
.form-buscar select {
  padding: 8px; /* Padding más pequeño */
  border-radius: 3px; /* Menor redondez */
  border: 2px solid #ddd;
  transition: all 0.3s ease;
  font-size: 14px; /* Tamaño de fuente más pequeño */
}

.form-buscar input:focus,
.form-buscar select:focus {
  outline: none;
  border-color: #10393b80;
  box-shadow: 0 0 8px #194d50; /* Sombra ligeramente más sutil */
}

.form-buscar button {
  background: #237175;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 2px;
  border-radius: 3px; /* Menor redondez */
  padding: 8px 12px; /* Padding ajustado */
  font-size: 14px; /* Tamaño de fuente más pequeño */
}

.form-buscar button:last-child {
  margin-right: 0;
}

.form-buscar button:hover {
  background: #194d50;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 8px;
  margin-left: 3px;
}

.input-group input {
  font-size: 13px; /* Reducir el tamaño de la fuente */
  width: 140px; /* Altura más pequeña si es necesario */
}

.input-group label {
  margin-left: 3px;
}

.button-group {
  display: flex;
  justify-content: flex-start;
}

.button-group button {
  flex: 1;
  margin: 0 3px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0; /* Mantiene las filas juntas */
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Sombra sutil para la tabla */
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0; /* Borde más claro y fino */
  font-size: 14px;
  transition: background-color 0.3s, transform 0.2s; /* Transición suave para hover en celdas */
}

th {
  background-color: #0F393B;
  color: white;
  font-weight: 600;
  position: sticky;
  top: 0; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para el encabezado */
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

td:hover {
  background-color: #ecfdff; /* Cambio de color en el hover de cada celda */
  transform: translateY(-1px); /* Eleva ligeramente la celda en hover */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para efecto 3D */
}
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Clase inicial para celdas ocultas */
.celda-oculta {
  opacity: 0;
  transform: translateY(20px);
}

/* Clase para animar celdas cuando están en el campo de visión */
.celda-visible {
  animation: fadeInUp 0.2s ease-out forwards;
}

.accion-button {
  padding: 0.5em 1em; /* Unidades em basadas en el tamaño de fuente del elemento */
  border-radius: 0.3em;
  border: none;
  background-color: #237175;
  margin-left: 0.5em; /* Margen izquierdo más flexible */
  color: white;
  font-size: 0.9em; /* Tamaño de fuente adaptable */
  transition: background-color 0.2s ease-in-out, transform 0.1s ease;
  cursor: pointer;
  outline: none;
}

.accion-button:hover, .accion-button:focus {
  background-color: #194d50;
  transform: scale(1.05);
}

#popupVer {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 5px;
  border-radius: 5px;
  width: 100%;
  max-width: 800px; /* Tamaño más grande */
  z-index: 1000;
  background: #fdfdfd;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);
}

#popupReporte {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  z-index: 1000;
  background: #F9FAFB; /* Un fondo más claro para una apariencia fresca */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1); /* Sombra más suave para dar una sensación de flotación */
  border: 1px solid #E1E1E1; /* Un borde sutil para definir el popup */
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#popupVer form {
  display: flex;
  flex-direction: column;
  align-items: left; 
  width: 100%; 
  padding: 10px;
}


#popupVer label {
  color: #666; /* Un gris oscuro para los textos que no sean de título */
  font-size: 0.95em; /* Un tamaño de fuente ligeramente más pequeño para etiquetas */
  font-weight: bold;
}


#popupVer h3 {
  margin-bottom: 20px; /* Más espacio después del título para una mejor separación */
  color: #333; /* Un color más oscuro para más formalidad */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente más moderna */
  text-align: center; /* Centra el texto horizontalmente dentro del elemento h3 */
}


#popupVer textarea {
  width: calc(100% - 24px);
  padding: 10px;
  margin: 0 auto 10px auto; 
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1); 
}

#popupVer .button-group {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px); 
  padding: 0 10px;
}

#popupVer .button-group button {
  width: 48%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2c9095;
  color: white;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para botones */
  transition: background-color 0.2s ease-in-out; /* Transición suave para el hover */
}

#popupVer .button-group button:hover {
  background-color: #194d50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más prominente en hover */
}

.table-container {
  display: block;
  max-height: 210px;  
  overflow-y: auto;   
}

#popupVer table {
  width: 100%;       
  margin: 20px 0;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#popupVer th, #popupVer td {
  padding: 12px 15px; /* Padding generoso para una mejor legibilidad */
  border-bottom: 1px solid #eaeaea; /* Borde sutil para separar filas */
  text-align: center; /* Alineación a la izquierda para la mayoría del contenido de la tabla */
  background-color: #fff; /* Fondo blanco para cada celda */
}

#popupVer th {
  background-color: #f9f9f9; /* Un fondo ligeramente gris para diferenciar el encabezado */
  color: #333; /* Color de texto más oscuro para contraste */
  font-weight: 600; /* Fuente más pesada para el encabezado */
  border-top-left-radius: 8px; /* Esquina redondeada para la celda superior izquierda del encabezado */
  border-top-right-radius: 8px; /* Esquina redondeada para la celda superior derecha del encabezado */
}

#popupVer tr:last-child td {
  border-bottom: none; /* Elimina el borde inferior de la última fila para un borde inferior limpio */
}

#popupVer tr:last-child td:first-child {
  border-bottom-left-radius: 8px; /* Esquina redondeada para la celda inferior izquierda */
}

#popupVer tr:last-child td:last-child {
  border-bottom-right-radius: 8px; /* Esquina redondeada para la celda inferior derecha */
}

#popupVer tr:hover {
  background-color: #f1f1f1; /* Color de fondo al pasar el mouse para resaltar la fila */
}

#popupReporte form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Cambiado de flex-start a center para centrar todos los elementos del formulario */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#popupReporte h3 {
  color: #333333;
  text-align: center; /* Esto asegura que el texto del h3 esté centrado */
  margin-bottom: 20px; /* Aumentado para dar más espacio debajo del h3 */
}

/* Estilos modificados para .input-group */
#popupReporte .input-group {
  display: flex;
  flex-direction: row; /* Cambiado de column a row */
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: space-between; /* Distribuye el espacio entre label e input */
  width: 100%;
  margin-bottom: 20px;
}

/* Estilos para .input-container */
#popupReporte .input-group .input-container {
  display: flex;
  flex-direction: column; /* Mantiene label sobre input */
  width: 48%; /* Ajusta el ancho para permitir dos columnas */
}
#popupReporte .input-group label {
  margin-bottom: 5px; /* Espacio entre la etiqueta y el campo de entrada debajo */
}

#popupReporte label {
  color: #555555; /* Color más suave que el negro para el texto */
  font-weight: normal; /* Menos enfático que negrita */
}

#popupReporte select {
  width: 100%; /* Aprovecha todo el ancho disponible */
  padding: 12px; /* Espaciado interno más grande para una fácil interacción */
  border-radius: 5px; /* Bordes redondeados para una estética moderna */
  border: 1px solid #D1D5DB; /* Un borde más claro y suave */
  background-color: #FFFFFF; /* Fondo blanco para que el select resalte sobre el fondo del popup */
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); /* Sombra interior sutil para profundidad */
}
#popupReporte button {
  width: 100%;
  padding: 10px;
  margin-left: 0; /* Ajusté el margen izquierdo a 0 */
  border-radius: 5px;
  border: none;
  margin-bottom: 0.3rem;
  background-color: #2c9095;
  color: white;
  font-weight: bold;
}

#popupReporte button:hover {
  background-color: #194d50;
}

#popupReporte .button-group {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px); 
  padding: 0 10px;
}

.field {
  display: flex;
  justify-content: center; /* Centrar contenido horizontalmente */
  align-items: center; /* Centrar contenido verticalmente */
  margin-bottom: 8px; /* Margen inferior ligeramente reducido */
  background-color: #f8f8f8; /* Color de fondo suave */
  padding: 1px; /* Padding interno reducido para hacer el contenedor más pequeño */
  border-radius: 8px; /* Bordes redondeados ligeramente más pequeños */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra más sutil */
}

.field label {
  flex: 1;  
  text-align: right;
  margin-right: 10px;
}

.field span, 
.field select, 
.field input[type="text"], 
.field input[type="email"], 
.field input[type="date"] {
  flex: 6;  
  width: 70%; 
  max-width: 70%; 
  box-sizing: border-box; 
}

.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background-color: #0f393bc5;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Sombra sutil para agregar profundidad */
}

.pagination a,
.pagination span {
  color: #ffffff;
  padding: 3px 12px;
  margin: 0 4px;
  text-decoration: none;
  font: bold 16px Arial, sans-serif;
  transition: background-color 0.3s, transform 0.2s; /* Agrega transición de transform también */
}

.pagination a {
  background-color: #1b797e;
  border-radius: 5px;
  border: 1px solid transparent; /* Border transparente para mantener el mismo tamaño al hacer hover */
}

.pagination a:hover {
  background-color: #ffffff;
  color: #0F393B;
  transform: scale(1.05); /* Efecto de ampliación suave al pasar el ratón */
  border: 1px solid #1b797e; /* Border del color de fondo original al hacer hover */
}

.pagination span.current-page {
  pointer-events: none;
  background-color: #2ba3a5; /* Color de fondo distintivo para la página actual */
  border-radius: 5px; /* Bordes redondeados también para la página actual */
}

@media (max-width: 768px) {
  .form-buscar {
    flex-direction: column;
    align-items: stretch; 
  }

  .form-buscar input, 
  .form-buscar select, 
  .form-buscar button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px; /* Margen aún más reducido */
    height: 30px; /* Altura más reducida */
    font-size: 12px; /* Tamaño de fuente más pequeño */
    padding: 4px; /* Padding más reducido */
  }

  .form-buscar button {
    margin-bottom: 4px; /* Margen reducido para botones */
    height: 32px; /* Altura específica para botones, un poco más alta que los inputs */
  }
  
  .input-group {
    flex-direction: column;
    align-items: flex-start; 
  }

  .input-group label {
      margin-bottom: 0; /* Eliminar margen adicional de las etiquetas */
      font-size: 11px; /* Tamaño de fuente reducido para etiquetas */
  }

  #popupEditar {
    max-width: 90%;
    padding: 10px;
  }

  #popupEditar form input,
  #popupEditar form select {
    width: 100%; 
    box-sizing: border-box; 
  }
  
  #popupEditar form button {
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 5px; 
  }
  #popupVer {
    max-width: 90%;
    padding: 10px;
  }

  #popupVer form, 
  #popupVer textarea, 
  #popupVer .button-group {
    width: 100%;
    box-sizing: border-box;
  }

  #popupVer .button-group button {
    width: 48%; 
    margin: 0;
    margin-right: 1%; 
    box-sizing: border-box;
  }

  #popupVer .button-group button:last-child {
    margin-right: 0; 
  }

  #popupVer #listaHerramientas {
    width: 100%;
  }

  #popupVer label,
  #popupVer .field {
    display: block;
    width: 100%;
    text-align: left;
  }

  #popupVer .field span, 
  #popupVer .field select, 
  #popupVer .field input[type="text"], 
  #popupVer .field input[type="email"], 
  #popupVer .field input[type="date"] {
    width: 100%;
    max-width: 100%;
  }
  #popupVer table {
    width: 100%;
    border-collapse: collapse; /* Asegúrate de que la tabla no tenga espacios entre celdas */
  }

  #popupVer thead {
    display: table-header-group; /* Muestra los encabezados de la tabla */
  }

  #popupVer tbody {
    display: table-row-group; /* Muestra el cuerpo de la tabla */
  }

  #popupVer tr {
    display: table-row; /* Muestra las filas de la tabla */
  }

  #popupVer td {
    display: table-cell; /* Muestra las celdas de la tabla */
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 0.5em; /* Agrega algo de relleno dentro de las celdas */
  }

  #popupVer td[data-label]:before {
    display: none; /* Oculta el contenido generado antes del td para dispositivos más pequeños */
  }

  #popupReporte {
    max-width: 300px; /* Reducir el ancho máximo para tabletas */
    padding: 15px; /* Ajustar el relleno */
  }

  #popupReporte .input-group .input-container {
      width: 100%; /* Hacer que los contenedores de entrada ocupen toda la fila */
  }
}

@media (max-width: 600px) {
  table {
    width: 100%;
    border-collapse: collapse;
  }
  .accion-button {
    padding: 6px; 
    margin-left: 10px;
    font-size: 0.8rem; 
  }

  thead {
    display: none; 
  }

  tbody {
    display: block;
  }

  tr {
    margin-bottom: 0.625rem;
    display: block;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }

  td {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0.25em 0.5em; 
    border-bottom: 1px solid #eee;
  }

  td[data-label]:before {
    content: attr(data-label);
    font-weight: bold;
  }

  #popupEditar {
    max-width: 85%;
  }
  #popupVer .table-container {
    overflow-x: auto; /* Permite desplazamiento horizontal si la tabla es más ancha que la pantalla */
  }

  #popupVer table {
    min-width: 600px; /* Establece un ancho mínimo para la tabla, puede requerir desplazamiento horizontal */
  }
}

@media (max-width: 600px) {  
  .pagination a:not(.prev):not(.next):not(.current-page),
  .pagination span:not(.current-page) {
    display: none;  /* Oculta todos los números de página excepto el actual, el anterior y el siguiente */
  }
}
