body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 58px;
}

#page-container {
  display: none;
}

.form-buscar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #f1f1f1;
  font-weight: bold;
}

.form-buscar input, .form-buscar select, .form-buscar button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form-buscar button {
  background: #0F393B;
  color: white;
  border: none;
  font-weight: bold;
}

.form-buscar button:hover {
  background: #194d50;
}

/* Estilos de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: center;
}
table tr:hover {
  background-color: #194d5011;
}

th {
  background-color: #0F393B;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilos para los botones de Acciones */
.accion-button {
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: #0F393B; /* Color de fondo verde */
  color: white;
  margin-bottom: 0.2rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  font-weight: bold;
}

.accion-button:hover {
  background-color: #194d50; /* Color de fondo un poco más oscuro cuando se pasa el ratón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más profunda cuando se pasa el ratón */
}

#popupEditar {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  z-index: 1000; 
}

#popupVer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  z-index: 1000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.guardar{
  width: 100%;
  padding: 10px;
  margin-bottom: 3px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  color: #333;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  /* Asegúrate de que el overlay esté debajo del popup */
}

#popupEditar form input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#popupEditar form select {
  width: 100%; 
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.guardar{
  width: 100%;
  padding: 10px;
  margin-bottom: 3px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  color: #333;
}

#popupEditar form button {
  background-color: #0F393B;
  color: white;
  font-weight: bold;
}

#popupEditar form button:hover {
  background-color: #194d50;
}

#popupEditar #cancelarEdicion {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  color: #333;
}

#popupEditar #cancelarEdicion:hover {
  background-color: #ddd;
}

#popupEditar, #popupVer {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#popupVer form {
  display: flex;
  flex-direction: column;
  align-items: left; /* Ajustado a centro para que todos los elementos estén centrados */
  width: 100%; 
  padding: 10px;
}


#popupVer label {
  margin-bottom: 5px;
  width: 100%;
}

#popupVer #listaHerramientas {
  margin-bottom: 10px;
  padding-left: 0;
  list-style-type: none;
  width: 100%;
}

#popupVer textarea {
  width: calc(100% - 24px);
  padding: 10px;
  margin: 0 auto 10px auto; /* Ajustado el margen para que el textarea esté centrado */
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

#popupVer .button-group {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px); /* Ajustado el ancho para que los botones no toquen los bordes */
  padding: 0 10px;
}

#popupVer .button-group button {
  width: 48%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0F393B;
  color: white;
  text-align: center;
  font-weight: bold;
}

#popupVer .button-group button:hover {
  background-color: #194d50;
}

@media (max-width: 600px) {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    display: none; 
  }

  tbody {
    display: block;
  }

  tr {
    margin-bottom: 0.625rem;
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }

  td {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0.25em 0.5em; /* Reduzco el padding para hacer las tarjetas más pequeñas */
    border-bottom: 1px solid #eee;
  }

  td[data-label]:before {
    content: attr(data-label);
    font-weight: bold;
  }

  #popupEditar {
    max-width: 85%;
  }
}