body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#page-container {
  display: none;
}

.login-container, .registration-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  margin: 2rem 0;
  margin-top: 5rem;
  border-radius: 26px; /* Unified border-radius */
}

.registration-container {
  position: relative;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

input,select {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #0F393B;
  color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s; /* Adding transition for the hover effect */
}

button:hover {
  background-color: #555;
}


.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* So that the video is behind the content */
}

p {
  margin: 0;
  padding: 0;
  font-style: inherit;
}

.image-container {
  position: relative;
  width: 100px; /* Ajusta como sea necesario */
  height: 100px; /* Asegúrate de que sea igual a la anchura para un círculo perfecto */
  margin: 0 auto 20px; /* Centrar y agregar margen inferior */
  border-radius: 50%; /* Hace que la imagen sea circular */
  overflow: hidden; /* Asegura que la imagen no sobresalga del contorno circular */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
}

.image-preview {
  display: block;
  width: 100%; /* Asegura que la imagen llene completamente el contenedor */
  height: 100%; /* Asegura que la imagen llene completamente el contenedor */
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
  transition: transform 0.3s;
}

.image-preview:hover {
  transform: scale(1.05);
}
/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  .login-container, .registration-container {
    padding: 1rem;
    margin: 1rem 0;
    max-width: 90%;
  }

  h2 {
    font-size: 1.2em;
  }
}