body, html {
  height: 100%;
  margin: 0;
}



body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f4f8;
}

.container {
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 10px;
  max-width: 1000px;
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.form-registro .input-section {
  display: flex;
  justify-content: space-between;
}

.input-section .left-section,
.input-section .right-section {
  width: 48%;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.input-group input,
.input-group select {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}
.file-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  text-align: center;
}

.file-input {
  display: block;
  margin: 0 auto 1rem; /* Añade un margen inferior para separar del botón */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.button-group {
  text-align: center;
  margin-top: 1rem;
}

.registrar-button {
  padding: 0.5rem 10rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #007BFF;
  transition: background-color 0.3s ease;
}

.registrar-button:hover {
  background-color: #0056b3;
}

/* Estilo para el select */

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 16px;
}

.select2-dropdown {
  border: 1px solid #ddd;
  border-radius: 5px;
}

@media (max-width: 768px) {
  body {
    padding: 0; /* Asegurarse de que no hay padding extra alrededor del body */
  }

  .container {
    padding: 1.5rem;
    margin: 0 auto; /* Centrar el contenedor */
  }

  h1 {
    font-size: 1.5rem; 
    margin-bottom: 1rem;
    text-align: center; /* Centrar el texto del encabezado */
  }

  .form-registro .input-section {
    flex-direction: column;
    align-items: center; /* Alinear los elementos al centro */
  }

  .input-section .left-section,
  .input-section .right-section {
    width: 100%;
    margin-bottom: 1rem;
  }

  .input-group {
    margin-bottom: 1.5rem; /* Aumentar el margen inferior para más espacio entre grupos de entrada */
  }

  .input-group label {
    font-size: 1rem; /* Ajustar el tamaño de la fuente de las etiquetas para una mejor legibilidad */
    margin-bottom: 0.5rem; /* Ajustar el margen inferior de las etiquetas */
  }

  .input-group input,
  .input-group select {
    font-size: 1rem; /* Ajustar el tamaño de la fuente de los inputs */
    padding: 0.5rem; /* Ajustar el padding de los inputs */
  }

  .file-label {
    font-size: 1rem; 
  }

  .file-input {
    font-size: 1rem; 
    padding: 0.5rem; 
  }

  .button-group {
    margin-top: 0.5rem;
  }

  .registrar-button {
    padding: 0.5rem 1rem; /* Ajustar el padding del botón */
    width: 100%; 
  }
}