body, html {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#page-container {
  display: none;
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: 10px;
  margin-top: 60px;
  border-radius: 26px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

.form-container h1 {
  text-align: center;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.delivery-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.delivery-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 0.2rem;
  color: #fff;
  cursor: pointer;
}

.delivery-buttons button:nth-child(1) {
  background-color: #0F393B;
}

.delivery-buttons button:nth-child(2) {
  background-color: #C8A21A;
}

.table-container {
  max-height: 200px;
  overflow-y: auto;
}

#selected-epp-table {
  border-collapse: collapse;
  width: 100%;
}

#selected-epp-table th, #selected-epp-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

#selected-epp-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f2f2f2;
  color: black;
  font-weight: normal;
}

.buttonform {
  background-color:#5C6969;
  border: none;
  border-radius: 4px;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .form-container {
      max-width: 90%;
      margin: 10px auto; /* Centra el contenedor */
  }
}
@media screen and (max-width: 600px) {
  .delivery-buttons {
      flex-direction: column;
  }
  .delivery-buttons button {
      margin-bottom: 10px;
  }
}@media screen and (max-width: 600px) {
  .table-container {
      overflow-x: auto;
  }
}@media screen and (max-width: 600px) {
  .form-container label, .form-container select, .form-container textarea {
      font-size: 1rem; /* Ajusta según sea necesario */
  }
}