body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4f8;
  padding: 20px;
}

.container {
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 10px;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.form-registro .input-section {
  display: flex;
  justify-content: space-between;
}

.input-section .left-section,
.input-section .right-section {
  width: 48%;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.input-group input,
.input-group select {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

.button-group {
  text-align: center;
  margin-top: 1rem;
}

.registrar-button {
  padding: 0.5rem 10rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #007BFF;
  transition: background-color 0.3s ease;
}

.registrar-button:hover {
  background-color: #0056b3;
}

/* Estilo para el select */

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 16px;
}

.select2-dropdown {
  border: 1px solid #ddd;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  .form-registro .input-section {
    flex-direction: column;
  }

  .input-section .left-section,
  .input-section .right-section {
    width: 100%;
  }

  .registrar-button {
    padding: 1rem;
    width: 100%;
  }
}
