body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4f8;
  padding-top: 99px;
  padding-bottom: 70px;
  min-height: 100vh; 
}

.flex-center-wrapper {
  flex: 1; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
}

*, *::before, *::after {
  box-sizing: border-box;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

#page-container {
  display: none;
}

.container {
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 26px;
  max-width: 1000px; /* Mantiene el tamaño máximo de ancho */
  margin: auto; /* Centra horizontalmente */
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.form-registro .input-section {
  display: flex;
  justify-content: space-between;
}

.input-section .left-section,
.input-section .right-section {
  width: 48%;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.input-group input,
.input-group select {
  padding: 0.5rem; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  width: 100%;
  font-size: 16px; 
  box-sizing: border-box; 
}
.file-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  text-align: left;
}

.file-input {
  display: block;
  margin: 0 auto 1rem; 
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.button-group {
  text-align: center;
  margin-top: 1rem;
}

.registrar-button {
  padding: 0.5rem 10rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #237175;
  transition: background-color 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.registrar-button:hover {
  background-color: #194d50;
}

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #ddd; 
  border-radius: 5px; 
  padding: 0.5rem; 
  height: calc(1.3em + 1rem + 2px); 
  font-size: 16px; 
  width: 100%; 
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 16px; 
  line-height: 1.5;
}

.select-open {
  overflow: hidden;
}

.header-container {
  display: flex;
  align-items: center;  
  justify-content: space-between;  
  gap: 200px;  
}

.image-container {
  position: relative;
  width: 70px; 
  height: 70px; 
  margin: 0 auto 20px; 
  border-radius: 50%; 
  overflow: hidden; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.image-preview {
  display: block;
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  transition: transform 0.3s;
}


@media (max-width: 768px) {
  body {
    margin: 0; 
    padding-top: 160px; 
  }

  .container {
    padding: 1rem; 
    width: calc(100% - 20px); 
    box-sizing: border-box; 
  }

  h1 {
    font-size: 1.4rem; 
    margin-bottom: 1.5rem; 
  }

  .form-registro .input-section {
    flex-direction: column; 
  }

  .input-section .left-section,
  .input-section .right-section {
    width: 100%; 
    margin-bottom: 1rem; 
  }

  .input-group {
    margin-bottom: 1rem;
  }

  .input-group input,
  .input-group select {
    font-size: 1rem; 
    padding: 0.7rem; 
  }

  .file-label {
    font-size: 1rem; 
  }

  .file-input {
    font-size: 1rem; 
    padding: 0.7rem; 
  }

  .button-group {
    margin-top: 1rem; 
  }

  .registrar-button {
    padding: 0.8rem 2rem;
    width: 100%; 
  }
  .header-container {
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    gap: 10px; 
    flex-wrap: wrap; 
  }

  h1 {
      flex: 1; 
      text-align: left; 
      margin-right: 10px; 
  }
}
