body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 58px;
}

#page-container {
  display: none;
}

.form-buscar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #f1f1f1;
  font-weight: bold;
}

.form-buscar input, .form-buscar select, .form-buscar button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form-buscar button {
  padding: 9px;
  background: #0F393B;
  color: white;
  border: none;
  font-weight: bold;
}

.form-buscar button:hover {
  background: #194d50;
}


.input-group {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el label y el input/select */
}

.input-group label {
  white-space: nowrap; /* Evita que el texto del label se rompa en múltiples líneas */
}

#editFoto {
  width: 50px; /* Asegúrate de que estas dimensiones sean iguales */
  height: 50px; /* para obtener una forma circular perfecta */
  border-radius: 50%;
  object-fit: cover; /* Esto hará que la imagen llene el contenedor sin deformarse */
}
.imagen-epp {
  width: 50px;
  height: 50px;
  object-fit: cover;
}


/* Estilos de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: center;
}
table tr:hover {
  background-color: #194d5011;
}

th {
  background-color: #0F393B;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.accion-button {
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: #0F393B; /* Color de fondo verde */
  color: white;
  margin-bottom: 0.2rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  font-weight: bold;
}

.accion-button:hover {
  background-color: #194d50; /* Color de fondo un poco más oscuro cuando se pasa el ratón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más profunda cuando se pasa el ratón */
}

.guardar {
  width: 100%;
  padding: 8px; /* Reducción moderada del padding vertical */
  margin-bottom: 3px; /* Reducción moderada del margen inferior */
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  color: #333;
}


#overlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; 
}

#popup {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 8px 20px; /* Reducción moderada del padding vertical de 10px a 8px */
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  z-index: 1000; 
}

#popupVer {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  z-index: 1000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#popup form input, #popup form select {
  width: 100%;
  padding: 6px;
  margin-bottom: 4px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}



#popup form button {
  background-color: #0F393B;
  color: white;
  font-weight: bold;
}

#popup form button:hover {
  background-color: #194d50;
}

#popup #cancelarEdicion {
  width: 100%;
  padding: 8px; /* Reducción moderada del padding vertical */
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  color: #333;
}

#popup #cancelarEdicion:hover {
  background-color: #ddd;
}
#popupVer form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#popupVer h2 {
  margin-bottom: 10px;
}

#popupVer label {
  margin-bottom: 5px;
}

#popupVer form input[type="month"] {
  width: 95%; 
  padding: 10px; 
  border-radius: 5px; 
  border: 1px solid #ddd; 
  margin-bottom: 10px; 
}

#popupVer button {
  width: 100%;
  padding: 10px;
  margin-left: 0; /* Ajusté el margen izquierdo a 0 */
  border-radius: 5px;
  border: none;
  margin-bottom: 0.3rem;
  background-color: #0F393B;
  color: white;
  font-weight: bold;
}

#popupVer button:hover {
  background-color: #194d50;
}

.hidden {
  display: none;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.field label {
  flex: 1;  
  text-align: right;
  margin-right: 8px;
}

.field span, 
.field select, 
.field input[type="text"], 
.field input[type="email"], 
.field input[type="date"] {
  flex: 6;  
  width: 80%; /* Establece un ancho específico para asegurar que todos sean del mismo tamaño */
  max-width: 80%; /* Establece un ancho máximo para asegurar que no excedan este tamaño */
  box-sizing: border-box; /* Esto asegura que el padding y el borde se incluyan en el tamaño total */
}

@media (max-width: 768px) {
  .form-buscar {
    flex-direction: column;
    align-items: stretch; 
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px; 
  }

  .form-buscar label {
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: -5px; /* Ajusta el margen inferior aquí para reducir la distancia entre el label y el input/select */
  }

  .form-buscar input, 
  .form-buscar select, 
  .form-buscar button {
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 1px; 
  }

  .form-buscar button {
    margin-bottom: 0; 
  }

  #popup {
    max-width: 90%;
    padding: 10px;
  }

  #popup form input,
  #popup form select {
    width: 100%; /* Esto asegura que tanto los inputs como los selects tienen el mismo ancho */
    box-sizing: border-box; /* Esto incluye padding y border dentro del ancho */
  }
  
  #popup form button {
    width: 100%; /* Esto ajusta el ancho del botón para que coincida con los inputs/selects */
    box-sizing: border-box; /* Esto incluye padding y border dentro del ancho */
    margin-bottom: 5px; /* Añadido margen en la parte inferior para espacio entre los botones */
    margin: 5px 0; /* Añade márgenes superior e inferior */
    font-size: 16px; /* Asegura un tamaño de fuente legible */
  }
  #popupVer {
    max-width: 90%; 
    padding: 10px; 
  }

  #popupVer form input[type="month"],
  #popupVer form button {
    width: 100%; 
    box-sizing: border-box; 
  }
}
@media (max-width: 600px) {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    display: none; 
  }

  tbody {
    display: block;
  }

  tr {
    margin-bottom: 0.625rem;
    display: block;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }

  td {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0.25em 0.5em; /* Reduzco el padding para hacer las tarjetas más pequeñas */
    border-bottom: 1px solid #eee;
  }

  td[data-label]:before {
    content: attr(data-label);
    font-weight: bold;
  }

  #popup {
    max-width: 85%;
  }
}