body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4f8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-top: 70px;
}
* {
  box-sizing: border-box;
}

#page-container {
  display: none;
}

.input-group input,
.input-group select {
  height: 38px; 
}

.container {
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 26px;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.form-registro .input-section {
  display: flex;
  justify-content: space-between;
}

.input-section .left-section,
.input-section .right-section {
  width: 48%;
}

.input-group,
.button-group {
  margin-bottom: 1rem;
}

.input-group label,
.descripcion-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.input-group input,
.input-group select,
.descripcion-group textarea {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

.descripcion-group textarea {
  resize: vertical;
}

.button-group {
  display: flex;
  flex-direction: column;
}

.registrar-button,
.qr-button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.registrar-button {
  background-color: #0F393B;
  transition: background-color 0.3s ease;
}

.registrar-button:hover {
  background-color: #194d50;
}

.qr-button {
  background-color: #31A84B;
  transition: background-color 0.3s ease;
}

.qr-button:hover {
  background-color: #2c6d3a;
}
@media (max-width: 768px) {
  body {
    padding-top: 240px; /* Ajusta este valor según lo necesites */
  }

  .container {
    padding: 0.2rem;
  }

  .form-registro {
    font-size: 0.9rem; /* Reduce el tamaño de la fuente un poco */
  }
  h1 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }

  .form-registro .input-section {
    flex-direction: column;
  }

  .input-section .left-section,
  .input-section .right-section {
    width: 100%;
    padding: 0.5rem; /* Añade algo de padding aquí */
    box-sizing: border-box; /* Asegura que el padding no afecta el ancho total */
  }

  .input-section .right-section {
    display: flex;
    flex-direction: column;
  }

  .button-group {
    margin-top: auto;
    margin-bottom: 0.5rem; /* Añade un pequeño margen en la parte inferior */
  }
}