/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para el contenedor principal */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para el formulario */
.form-container {
  width: 100%;
  flex: 1;
  max-width: 400px;
  padding: 20px;
  padding-right: 40px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container h1 {
  text-align: center;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 40px;
}

/* Estilos para los botones */
.loan-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.loan-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.loan-buttons button:nth-child(1) {
  background-color: #dc3545;
}

.loan-buttons button:nth-child(2) {
  background-color: #28a745;
}

/* Estilos para el contenedor de video */
.video-container {
  flex: 1;
  max-width: 400px;
  position: relative;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

#preview {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.video-container .button1{
  position: absolute;
  right:200px;
}

/* Estilos para los botones */
.loan-buttons1 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.loan-buttons1 button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #edadad;
  cursor: pointer;
}

/* Estilos para los botones de escaneo */
.scan-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.scan-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.scan-buttons button:nth-child(1) {
  background-color: #007bff;
}

.scan-buttons button:nth-child(2) {
  background-color: #dc3545;
}

/* Estilo para el mensaje de cámara apagada */
.camera-off {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #aaa;
}


/* Estilo para el textarea */
#observations {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.select2-container {
  width: 100% !important;
  padding: 0;
}

.select2-selection__rendered {
  line-height: 40px !important;
}

.select2-selection {
  height: 40px !important;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select2-selection__arrow {
  height: 34px !important;
}