body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4f8;
  padding: 20px;
}

.container {
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 10px;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.form-registro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-group {
  margin-bottom: 1rem;
  flex: 0 0 48%;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.input-group input,
.input-group textarea,
.input-group select {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

.input-group textarea {
  resize: vertical;
}

.registrar-button {
  background-color: #007BFF;
  color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 40%;
  margin: 0 auto;
}

.registrar-button:hover {
  background-color: #0056b3;
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  width: 100%;
}

.qr-button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #28a745;
  transition: background-color 0.3s ease;
  width: 40%;
  margin: 0 auto;
}
.qr-button:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  .input-group, .registrar-button, .qr-container {
    flex: 0 0 100%;
  }
}

