body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.form-buscar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #f1f1f1;
  flex-wrap: wrap; /* Esto permite que los elementos pasen a la siguiente línea si no hay suficiente espacio */
}

.form-buscar input, 
.form-buscar select, 
.form-buscar button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  flex: 1 1 calc(25% - 22px); /* Esto le da a cada elemento un ancho flexible */
  margin: 0 10px 10px 0; /* Esto añade un poco de margen entre los elementos */
}

.form-buscar button {
  background: #4CAF50;
  color: white;
  border: none;
  flex: 0 0 auto; /* Esto permite que el botón mantenga su tamaño, en lugar de expandirse para igualar el ancho de los otros elementos */
}

.form-buscar button:hover {
  background: #45a049;
}

table {
  transition: all 0.3s;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

table tr:hover {
  background-color: #f1f5f8;
}

th, 
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.accion-button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  margin-bottom: 0.1rem;
}

.accion-button:hover {
  background-color: #45a049;
}

#popupEditar {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  z-index: 1000;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#popupEditar form input,
#popupEditar form select {
  width: 100%; /* Cambié esto a 100% para asegurar que ambos llenen completamente el contenedor padre */
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box; /* Esto hará que el padding y el borde se incluyan en el ancho total, haciendo que los elementos sean del mismo tamaño */
}

#popupEditar form button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 0.3rem;
  background-color: #4CAF50;
  color: white;
}

#popupEditar form button:hover {
  background-color: #45a049;
}

#popupEditar #cancelarEdicion {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  color: #333;
}

#popupEditar #cancelarEdicion:hover {
  background-color: #ddd;
}


#editFoto {
  width: 50px; /* Asegúrate de que estas dimensiones sean iguales */
  height: 50px; /* para obtener una forma circular perfecta */
  border-radius: 50%;
  object-fit: cover; /* Esto hará que la imagen llene el contenedor sin deformarse */
}
.foto-trabajador {
  width: 50px;
  height: 50px;
  object-fit: cover;
}


@media (max-width: 768px) {
  .form-buscar {
    flex-direction: column;
    align-items: stretch; 
  }

  .form-buscar input, 
  .form-buscar select, 
  .form-buscar button {
    width: calc(106% - 20px); /* Aquí ajustamos el ancho para compensar el padding y border */
    height: 40px; 
    margin-bottom: 10px; 
  }

  .form-buscar button {
    margin-bottom: 0; 
  }

  #popupEditar {
    max-width: 90%;
    padding: 10px;
  }

  #popupEditar form input,
  #popupEditar form select,
  #popupEditar form button {
    margin-bottom: 5px; 
  }
}

@media (max-width: 600px) {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    display: none; 
  }

  tbody {
    display: block;
  }

  tr {
    margin-bottom: 0.625rem;
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }

  td {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0.25em 0.5em; /* Reduzco el padding para hacer las tarjetas más pequeñas */
    border-bottom: 1px solid #eee;
  }

  td[data-label]:before {
    content: attr(data-label);
    font-weight: bold;
  }

  #popupEditar {
    max-width: 85%;
  }
}