body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 58px;
}

#page-container {
  display: none;
}

.form-buscar {
  display: flex;
  justify-content: space-between; /* Mantenemos la disposición horizontal */
  padding: 20px;
  background: #f1f1f1; /* Podemos mantener el color o probar un gradiente suave */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sutil sombra para dar profundidad */
  font-weight: bold;
  border-radius: 8px; /* Esquinas redondeadas para un look moderno */
}

.form-buscar input, 
.form-buscar select {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ddd; /* Aumentamos el grosor del borde para más presencia */
  transition: all 0.3s ease; /* Transición suave para interactuar con los campos */
}

/* Estilo cuando el usuario interactúa con el input */
.form-buscar input:focus, 
.form-buscar select:focus {
  outline: none; /* Removemos el contorno predeterminado */
  border-color: #10393b80; /* Cambiamos color de borde al enfocar */
  box-shadow: 0 0 10px #194d50; /* Sombra exterior para resaltar el enfoque */
}

.form-buscar button {
  background: #2c9095; /* Podemos ajustar a un color más vibrante si se desea */
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer; /* Indicamos que es un botón interactivo */
  transition: background-color 0.3s; /* Suavizamos la transición del hover */
  margin-right: 2px;
  border-radius: 5px;
}
#filter {
  display: flex; 
}

.form-buscar button:last-child {
  margin-right: 0; /* Quita el margen al último botón */
}

.form-buscar button:hover {
  background: #194d50; 
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;
    margin-left: 5px;
}
.input-group label {
    margin-left: 5px;  /* Ajusta el margen según sea necesario */
}

table {
  transition: all 0.3s;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

table tr:hover {
  background-color: #194d5011; /* Hover sutil para las filas */
}

th, 
td {
  padding: 12px; /* Aumenta el padding para más espacio */
  text-align: center; /* Alineación a la izquierda para títulos y celdas, es más moderno */
  border-bottom: 3px solid #2c909548; /* Se mantiene el borde para definir la barra */
}

th {
  background-color: #0F393B; /* Color existente para mantener la paleta */
  color: white;
  font-size: 16px; /* Incrementa la fuente para mayor legibilidad */
  font-weight: 600; /* Peso de fuente para títulos más definidos */
  border-bottom: 3px solid #397D68; /* Se mantiene el borde para definir la barra */
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Mantén el zebra striping para filas pares */
}

.accion-button {
  padding: 8px 8px; /* Más padding para botones más grandes */
  border-radius: 5px; /* Bordes redondeados existentes */
  border: none; /* Borde removido para un botón más limpio */
  background-color: #2c9095; /* Color existente para consistencia */
  color: white;
  margin-bottom: 0.2rem;
  transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Transiciones suaves para hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
  font-weight: bold;
  cursor: pointer; /* Indica que es un botón interactivo */
}

.accion-button:hover {
  background-color: #194d50; /* Color de hover actualizado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más prominente en hover */
}

.imagen-herramienta {
  width: 50px; /* Define un tamaño específico */
  height: 50px; /* Mantiene la proporción */
  border-radius: 50%; /* Hace la imagen circular */
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
  transition: transform 0.3s; 
}

.imagen-herramienta:hover {
  transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}

#overlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#popup{
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  z-index: 1000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  border: none; /* Quitamos el borde para un look más limpio */
}

#popup form input, #popup form select {
  width: 100%;
  padding: 6px;
  margin-bottom: 4px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Color de borde más suave */
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra interior sutil */
}


.guardar {
  width: 100%;
  padding: 10px;
  margin-bottom: 3px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  color: #333;
  background-color: #4CAF50; /* Verde moderno para el botón de guardar */
}

#popup form button {
  background-color: #2c9095;
  color: white;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out; /* Transición suave para el hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para botones */
}

#popup form H3 {
  text-align: center;
  margin-bottom: 20px; /* Más espacio debajo del título para estructura */
  color: #333; /* Color oscuro para contraste y legibilidad */
  font-size: 1.25rem; /* Tamaño más grande para importancia */
}

#popup form button:hover {
  background-color: #194d50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más prominente en hover */
}


#popup #cancelarEdicion {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  color: #333;
  background-color: #2c9095; /* Rojo para el botón de cancelar para indicar una acción potencialmente negativa */
  color: white; /* Texto blanco para contraste */
}

#popup #cancelarEdicion:hover {
  background-color: #194d50; /* Rojo más oscuro para hover en cancelar */
}

.button-group {
  display: flex;
  justify-content: flex-start; /* Esto alineará los botones a la izquierda con el input group */
}

.button-group button {
  flex: 1; /* Esto hace que cada botón tenga el mismo ancho y ocupe el espacio disponible */
  margin: 0 5px; /* Esto agrega un pequeño margen entre los botones */
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}

.field label {
  flex: 1;  
  text-align: right;
  margin-right: 6px;
}

.field span, 
.field select, 
.field input[type="text"], 
.field input[type="email"], 
.field input[type="date"] {
  flex: 6;  
  width: 80%;
  max-width: 80%;
  box-sizing: border-box;
}

.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background-color: #0f393bc5;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Sombra sutil para agregar profundidad */
}

.pagination a,
.pagination span {
  color: #ffffff;
  padding: 3px 12px;
  margin: 0 4px;
  text-decoration: none;
  font: bold 16px Arial, sans-serif;
  transition: background-color 0.3s, transform 0.2s; /* Agrega transición de transform también */
}

.pagination a {
  background-color: #1b797e;
  border-radius: 5px;
  border: 1px solid transparent; /* Border transparente para mantener el mismo tamaño al hacer hover */
}

.pagination a:hover {
  background-color: #ffffff;
  color: #0F393B;
  transform: scale(1.05); /* Efecto de ampliación suave al pasar el ratón */
  border: 1px solid #1b797e; /* Border del color de fondo original al hacer hover */
}

.pagination span.current-page {
  pointer-events: none;
  background-color: #2ba3a5; /* Color de fondo distintivo para la página actual */
  border-radius: 5px; /* Bordes redondeados también para la página actual */
}

.estatus {
  display: flex;
  align-items: center; /* alinea verticalmente el icono con el texto */
  justify-content: center; /* centra los elementos horizontalmente */
  gap: 5px; /* agrega un espacio entre el icono y el texto */
}

#img-overlay img {
  transition: transform 0.3s ease;
}

#img-overlay img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .form-buscar {
    flex-direction: column;
    align-items: stretch; 
  }

  .form-buscar input, 
  .form-buscar select, 
  .form-buscar button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px; 
  }

  .form-buscar button {
    margin-bottom: 6px; 
  }
  
  .input-group {
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos al inicio en el eje transversal */
}

  .input-group label {
      margin-bottom: 1px; /* Agrega un margen en la parte inferior para separar el label del input */
  }

  #popup {
    max-width: 90%;
    padding: 10px;
  }

  #popup form input,
  #popup form select {
    width: 100%;
    box-sizing: border-box;
  }
  
  #popup form button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
  }
}

@media (max-width: 600px) {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    display: none; 
  }

  tbody {
    display: block;
  }

  tr {
    margin-bottom: 0.625rem;
    display: block;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }

  td {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0.25em 0.5em;
    border-bottom: 1px solid #eee;
  }

  td[data-label]:before {
    content: attr(data-label);
    font-weight: bold;
  }

  #popup {
    max-width: 85%;
  }
}

@media (max-width: 600px) {  
  .pagination a:not(.prev):not(.next):not(.current-page),
  .pagination span:not(.current-page) {
    display: none;  /* Oculta todos los números de página excepto el actual, el anterior y el siguiente */
  }
}