body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 58px;
}

#page-container {
  display: none;
}

.form-buscar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #f1f1f1;
  font-weight: bold;
}

.form-buscar input, .form-buscar select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#filter {
  display: flex; /* Cambia el layout a flexbox */
}

.form-buscar button {
  padding: 8px; /* Valor de padding reducido */
  background: #0F393B;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px; 
  margin-left: 10px;
}

.form-buscar button:last-child {
  margin-right: 0; /* Quita el margen al último botón */
}

.form-buscar button:hover {
  background: #194d50;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;  /* Ajusta el margen según sea necesario */
    margin-left: 5px;
}
.input-group label {
    margin-left: 5px;  /* Ajusta el margen según sea necesario */
}
#editFoto {
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  object-fit: cover; 
}

.imagen-herramienta {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: center;
}

table tr:hover {
  background-color: #194d5011;
}

th {
  background-color: #0F393B;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.accion-button {
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: #0F393B;
  color: white;
  margin-bottom: 0.2rem;
  margin-right: 0.3rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.accion-button:hover {
  background-color: #194d50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#overlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; 
}

#popup {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  z-index: 1000; 
}

#popup form input, #popup form select {
  width: 100%;
  padding: 6px;
  margin-bottom: 4px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.guardar{
  width: 100%;
  padding: 10px; 
  margin-bottom: 3px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  color: #333;
}

#popup form H3 {
  text-align: center;
}

#popup form button {
  background-color: #0F393B;
  color: white;
}

#popup form button:hover {
  background-color: #194d50;
}

#popup #cancelarEdicion {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  color: #333;
}

#popup #cancelarEdicion:hover {
  background-color: #ddd;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}

.field label {
  flex: 1;  
  text-align: right;
  margin-right: 6px;
}

.field span, 
.field select, 
.field input[type="text"], 
.field input[type="email"], 
.field input[type="date"] {
  flex: 6;  
  width: 80%;
  max-width: 80%;
  box-sizing: border-box;
}

.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background-color: #0f393bea;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Sombra sutil para agregar profundidad */
}

.pagination a,
.pagination span {
  color: #ffffff;
  padding: 3px 12px;
  margin: 0 4px;
  text-decoration: none;
  font: bold 16px Arial, sans-serif;
  transition: background-color 0.3s, transform 0.2s; /* Agrega transición de transform también */
}

.pagination a {
  background-color: #1b797e;
  border-radius: 5px;
  border: 1px solid transparent; /* Border transparente para mantener el mismo tamaño al hacer hover */
}

.pagination a:hover {
  background-color: #ffffff;
  color: #0F393B;
  transform: scale(1.05); /* Efecto de ampliación suave al pasar el ratón */
  border: 1px solid #1b797e; /* Border del color de fondo original al hacer hover */
}

.pagination span.current-page {
  pointer-events: none;
  background-color: #2ba3a5; /* Color de fondo distintivo para la página actual */
  border-radius: 5px; /* Bordes redondeados también para la página actual */
}

.estatus {
  display: flex;
  align-items: center; /* alinea verticalmente el icono con el texto */
  justify-content: center; /* centra los elementos horizontalmente */
  gap: 5px; /* agrega un espacio entre el icono y el texto */
}

@media (max-width: 768px) {
  .form-buscar {
    flex-direction: column;
    align-items: stretch; 
  }

  .form-buscar input, 
  .form-buscar select, 
  .form-buscar button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px; 
  }

  .form-buscar button {
    margin-bottom: 6px; 
  }
  
  .input-group {
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos al inicio en el eje transversal */
}

  .input-group label {
      margin-bottom: 1px; /* Agrega un margen en la parte inferior para separar el label del input */
  }

  #popup {
    max-width: 90%;
    padding: 10px;
  }

  #popup form input,
  #popup form select {
    width: 100%;
    box-sizing: border-box;
  }
  
  #popup form button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
  }
}

@media (max-width: 600px) {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    display: none; 
  }

  tbody {
    display: block;
  }

  tr {
    margin-bottom: 0.625rem;
    display: block;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }

  td {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0.25em 0.5em;
    border-bottom: 1px solid #eee;
  }

  td[data-label]:before {
    content: attr(data-label);
    font-weight: bold;
  }

  #popup {
    max-width: 85%;
  }
}

@media (max-width: 600px) {  /* Ajusta el valor de 600px según sea necesario */
  .pagination a:not(.prev):not(.next):not(.current-page),
  .pagination span:not(.current-page) {
    display: none;  /* Oculta todos los números de página excepto el actual, el anterior y el siguiente */
  }
}