.container-numberFolio {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 900;
    background: #FFFFFF;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    display: flex; /* Añadido para estructurar los hijos en una columna */
    flex-direction: column; /* Asegura que los elementos se alineen verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
}

.container-numberFolio span {
    color: #212121;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px; /* Espacio entre el texto y el botón */
}

.container-numberFolio button {
    width: 90%;
    height: 40px;
    border: none;
    background: #164d50;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.container-numberFolio button:hover {
    background-color: #19575a;
}